@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-page {
    background-image: url("./background.svg");
  }
}

@import url("https://fonts.googleapis.com/css2?family=Gabriela&display=swap");

* {
  font-family: "Gabriela", serif;
  font-weight: 400;
  font-style: normal;
}

.cc-icon {
  height: 22px;
  margin-left: 3px;
  vertical-align: text-bottom;
}
